.btn {
  &-primary {
    background-color: red;
  }

  &-secondary {
    background-color: #17b978;
    border: 0px;
    border-radius: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    padding: 6px 15px 6px;
    margin: 10px 0 10px 20px;

    cursor: pointer;
  }

  &-outline {
    background-color: hotpink;
  }
}
